extends layout

block link
    -var selected = "Tableau de bord";

block content
    -var nbHTML = domaineNb.HTML;
    -var nbCSS = domaineNb.CSS;
    -var nbJS = domaineNb.JavaScript;
    h1= title  
    div.flexBox
        // Mode test rapide
        section
            h2 Test rapide
            p Questions illimitées aléatoires
            a#submitTestRapide.flatButton(href="/question/testrapide") Débuter le test rapide
        // Configurations de l'examen
        section
            h2 Configurations de l'examen
        
            form#formConfigs(action="/question/examen" method="post")
                label Domaine: 
                select(name="choix_domaine" required)
                    option(value="HTML") HTML
                    option(value="JavaScript") JavaScript
                    option(value="CSS") CSS

                label Nombre de questions: 
                //- TODO: change max to nbHTML, nbCSS or nbJS
                input(name="choix_nombre" type="number" value=5 min="1" required)

                input#submitExamen.flatButton(type="submit" value="Débuter l'examen")
            
        //Statistiques
        aside
            h2 Statistiques
            p#nombreQuestionsReussies
            p#moyenneExamens
            h3 Réussites et Échecs
            p#countHTMLgood
            p#countHTMLwrong
            p#countJavaScriptgood
            p#countJavaScriptwrong
            p#countCSSgood
            p#countCSSwrong
            p#questionSucceedCount
            p#questionFailCount
            a.flatButton(href="#openModalBox") Statistiques Détaillées
            a#reinitialiserStatistiques.flatButton(href="" onclick="localStorage.clear();") Remise à zéro

    div.modalBox#openModalBox
        div.modalBoxMessage()
            h2 Statistiques détaillées
            table
                thead
                    tr
                        th Nom de l'examen
                        th Domaine
                        th Note obtenue
                tbody#tableStats

            a#fermer.flatButton(href="") Fermer
        a.closeModal(href="")

    script(src='/scripts/jquery.min.js')
    script(src='/scripts/dashboard_logic.js')
