extends layout

block link
    -var selected = "Instructions";

block content
    h1= title

    section
        img#ourfloatingimage(src="http://cdn.bulbagarden.net/upload/thumb/6/63/Burnet_Dream_Radar.png/140px-Burnet_Dream_Radar.png")
        h2 Tableau de bord
        p Il s'agit de quiz à choix de réponses. Glissez et déposez la réponse de votre choix dans la case de réponse et appuyez sur Suivant pour passer à la prochaine question. Une fois l'évaluation complétée, vous pourrez consulter votre résultat.

        h3 Test rapide
        p Pour commencer un test rapide, cliquer sur Débuter le test rapide.

        h3 Examen
        p Pour commencer un examen, il faut établir des configurations dans le tableau de bord. Une fois le domaine et le nombre de questions choisis, cliquer sur Débuter l'examen.

        h3 Statistiques
        p Vos statistiques sont disponibles dans une boite sur le côté. Cliquez sur "Détails..." pour visualiser les notes détaillées de chaque examen.
    
