extends layout

block link
    -var selected = "Tableau de bord";

block content
    h1= title  

    div#flexBox
        
        // Configurations de l'examen
        section
            h2 Configurations de l'examen
        
            form
                label Domaine: 
                select
                    option(value="html") HTML
                    option(value="js") JavaScript
                    option(value="css") CSS

            form
                label Nombre de questions: 
                input(type="number" name="nombredequestions" value=1)

            a.flatButton(href="/question/testrapide/1") Débuter le test rapide
            a.flatButton(href="/question/examen/1") Débuter l'examen
            
        //Statistiques
        include statistics 
