extends layout

block link
    -var selected = "Instructions";

block content
    h1= title

    section
        img#ourfloatingimage(src="http://cdn.bulbagarden.net/upload/thumb/6/63/Burnet_Dream_Radar.png/140px-Burnet_Dream_Radar.png")
        h2 Tableau de bord
        p Il s'agit de quiz à choix de réponses. Cochez la réponse de votre choix et appuyez sur Suivant pour passer à la prochaine question. Une fois l'évaluation complétée, vous pourrez consulter votre résultat.

        h3 Test rapide
        p Cliquez sur Test rapide pour débuter un test rapide. Le nombre de questions et les domaines sont configurés par défaut.

        h3 Examen
        p Cliquez sur Examen pour configurer le nombre de questions et les domaines pour un examen. Cliquez ensuite sur Débuter pour commencer l'examen.

        h3 Statistiques
        p Vos statistiques sont disponibles dans une boite sur le côté. Cliquez sur "Détails..." pour visualiser les notes détaillées de chaque examen.
    
