extends layout

block link
    -var selected = "Question"; // Not in menu

block content
    -var nbTotal = 2;
    -var nbProchain = parseInt(nb) + 1;
    -var lienBoutonSuivant = "/question/" + mode + "/" + nbProchain;
    
    if(mode == "testrapide")
        h1 Test Rapide
        if(nbProchain > nbTotal)
            -lienBoutonSuivant = "/dashboard";
    else
        h1 Examen 
        h2 Question #{nb}/#{nbTotal}
        if(nbProchain > nbTotal)
            -lienBoutonSuivant = "/result";
            
    section
        if (nb == 1)
            h3 Domaine: HTML
            h3 Que signifie HTML ?
            
            form.question()
                span
                    input(type="radio" name="answer" value=1)
                    label Hello Tout Monde Le
                span
                    input(type="radio" name="answer" value=2)
                    label Hyper Text Markup Language
                span
                    input(type="radio" name="answer" value=3)
                    label Ham Tarte Mûre Lait
                    
        else if (nb == 2)
            h3 Domaine: CSS
            h3 Que veut dire CSS? ?
            
            form.question()
                span
                    input(type="radio" name="answer" value=1)
                    label C'mon Sarcasm Sometimes
                span
                    input(type="radio" name="answer" value=2)
                    label Cascade Style Sheet
                span
                    input(type="radio" name="answer" value=3)
                    label Coding Solo Style
                
        a.flatButton(href="/dashboard") Retour au tableau de bord
        
        a.flatButton(href=lienBoutonSuivant) Suivant
