extends layout

block link
    -var selected = "Question"; // Not in menu

block content
    -var nbTotal = 2;
    -var nbProchain = parseInt(nb) + 1;
    -var test = "/question/" + mode + "/" + nbProchain;
    
    if(mode == "testrapide")
        h1 Test Rapide
        if(nbProchain > nbTotal)
            -test = "/dashboard";
    else
        h1 Examen 
        h2 Question #{nb}/#{nbTotal}
        if(nbProchain > nbTotal)
            -test = "/result";
            
    section
        h3 Domaine: HTML
        h3 Que signifie HTML ?
        
        form.question()
            span
                input(type="radio" name="answer")
                label Hello Tout Monde Le
            span
                input(type="radio" name="answer")
                label Hyper Text Markup Language
            span
                input(type="radio" name="answer")
                label Ham Tarte Mûre Lait
                
        a#flatButton(href=test) Suivant
