extends ../layout

block content
    // - Mode
    if(mode == "testrapide")
        h1 Test Rapide
    else
        h1 Examen 
        h2#numerotation Question 0/0
    
    div.flexBox
        section
            h3#domaine
            h3#question

            div#reponse1.choixDeReponse(draggable="true")
            div#reponse2.choixDeReponse(draggable="true")
            div#reponse3.choixDeReponse(draggable="true")
            <br>
            h3 Glissez votre réponse ci-dessous
            div#zoneReponse.choixDeReponse

            //- Remove 1 indent in the whole commment if you want to bring it back
                form.question
                    span.choixDeReponse(draggable="true")
                        input(type="radio" name="answer" value="reponse1")
                        label#reponse1
                    span.choixDeReponse(draggable="true")
                        input(type="radio" name="answer" value="reponse2")
                        label#reponse2
                    span.choixDeReponse(draggable="true")
                        input(type="radio" name="answer" value="reponse3")
                        label#reponse3
                    span#zoneReponse(draggable="true")

            a.flatButton(href="/dashboard") Retour au tableau de bord
            button#abandonner.flatButton Abandonner
            
            button#suivant.flatButton(disabled) Suivant

        // Statistiques
        aside
            h3 Statistiques
            p#noteCourante 

    script(src='/scripts/jquery.min.js')
    script(src='/scripts/question_logic.js')

