extends ../layout

block content
    // - Mode

	h1 Test Rapide
	h1 Examen
	h2#numerotation Question 0/0
    
    div.flexBox
        section(*ngIf="question")
            h3#domaine {{question.domaine}}
            h3#question {{question.question}}

            div#reponse1.choixDeReponse(draggable="true") {{question.reponse1}}
            div#reponse2.choixDeReponse(draggable="true") {{question.reponse2}}
            div#reponse3.choixDeReponse(draggable="true") {{question.reponse3}}
                        
            h3 Glissez votre réponse ci-dessous
            div#zoneReponse.choixDeReponse

            a.flatButton(href="/dashboard") Retour au tableau de bord
            button#abandonner.flatButton Abandonner
            
            button#suivant.flatButton(disabled) Suivant

        // Statistiques
        aside
            h3 Statistiques
            p#noteCourante 

    script(src='/scripts/jquery.min.js')
    script(src='/scripts/question_logic.js')

