extends ../layout

block content
    // - Mode

    h1(*ngIf="mode == 'testrapide'") Test Rapide
    h1(*ngIf="mode == 'examen'") Examen
    h2#numerotation(*ngIf="progres && (mode == 'examen')") Question {{progres.numeroQuestionEnCours}}/{{progres.nbQuestionsEnCours}}
    
    div.flexBox
        section
            h3#domaine(*ngIf="question") {{question.domaine}}
            h3#question(*ngIf="question") {{question.question}}

            div#reponse1.choixDeReponse(draggable="true") {{question.reponse1}}
            div#reponse2.choixDeReponse(draggable="true") {{question.reponse2}}
            div#reponse3.choixDeReponse(draggable="true") {{question.reponse3}}
                        
            h3 Glissez votre réponse ci-dessous
            div#zoneReponse.choixDeReponse

            a.flatButton(routerLink='/dashboard') Retour au tableau de bord
            button#abandonner.flatButton((click)="giveUp()") Abandonner
            button#suivant.flatButton(disabled) Suivant

        // Statistiques
        aside
            h3 Statistiques
            p#noteCourante(*ngIf="progres && (mode == 'examen')") Note actuelle: {{progres.scoreEnCours}}/{{progres.nbQuestionsEnCours}} 

    script(src='/scripts/jquery.min.js')
    script(src='/scripts/question_logic.js')

