extends ../layout

block content
    script(src='/scripts/jquery.min.js')
    script(src='/scripts/result_logic.js')

    h1 Résultat
    
    section
        h2 Fin de l'examen
            
        p#resultat(*ngIf="message") {{message}}

        a.flatButton(routerLink='/dashboard') Retour au tableau de bord
