extends layout



block link
    -var selected = "Tableau de bord";

block content
    
    h1= title  

    div.flexBox
        // Mode test rapide
        section
            h2 Test rapide
            p Questions illimitées aléatoires
            a#submitTestRapide.flatButton(href="/question/testrapide") Débuter le test rapide
        // Configurations de l'examen
        section
            h2 Configurations de l'examen
        
            form#formConfigs(action="/question/examen" method="post")
                label Domaine: 
                select(name="choix_domaine" required)
                    option(value="HTML") HTML
                    option(value="JavaScript") JavaScript
                    option(value="CSS") CSS

            
                label Nombre de questions: 
                input(name="choix_nombre" type="number"  value=5 required)

                input#submitExamen.flatButton(type="submit" value="Débuter l'examen")
           
            
        //Statistiques
        aside
            h2 Statistiques
            p#nombreQuestionsReussies
            p#moyenneExamens
            a.flatButton(href="#openModalBox") Statistiques Détaillées

    - var examScores = { 'Exam 1': '10/20', 'Exam 2': '12/20', 'Exam 3': '17/20', 'Exam 4': '15/20', 'Exam 5': '19/20', 'Exam 6': '11/20', 'Exam 7': '17/20' };
    div.modalBox#openModalBox
        div.modalBoxMessage()
            h2 Statistiques détaillées
            table
                thead
                    tr
                        th ID de l'examen
                        th Note obtenue
                tbody
                    each val, key in examScores
                        tr
                            td=key
                            td=val
               
            a#reinitialiserStatistiques.flatButton(href="" onclick="localStorage.clear();") Réinitialiser les statistiques
            a#fermer.flatButton(href="") Fermer
        a.closeModal(href="")

    script(src='/scripts/dashboard_logic.js')