extends layout

block link
    -var selected = "Résultat"; // Not in menu

block content
    h1 Résultat
    
    section
        h2 Examen complété
        p#resultat

        a.flatButton(href='/dashboard') Retour au tableau de bord
    
    script(src='/scripts/jquery.min.js')
    script(src='/scripts/result_logic.js')
