@font-face {
    font-family: beleren;
    src: url(../fonts/beleren-bold-webfont.ttf);
}

@font-face {
	font-family: belerenSmallCaps;
	src: url(../fonts/belerensmallcaps-bold-webfont.ttf);
}

body {
  background-color: #444;
  color: white;
  padding: 12px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;  
}

body section {
	padding: 12px;
    background-color: #333;
    margin: 6px;
}

body footer {
    /*Le footer va ignorer les floats*/
    clear: both;
}

aside {
    float: left;
    overflow: auto;
    padding: 12px;
    background-color: #555;
    border: 2px solid #FFF
}

aside ~ section {
    /*Pour ne pas aller en dessous du float*/
    overflow: hidden;
}

a {
	font-family: beleren;
	color:yellow;
}

h1 {
	font-family: belerenSmallCaps;
}

h2, h3 {
	font-family: beleren;
}

/***********************
 Navbar
 ***********************/

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    display: inline-block;
}

nav li a {
    color: white;
    display: block;
    padding: 14px 16px;
	text-decoration: none;
}

nav li:hover:not(.active) {
    background-color: #111;
}

nav li .active {
	background-color: #C8B21C;
}

nav li a:visited { 
    color: white;
}

/***********************
 Classes customs
 ***********************/

#logo {
    width:100px; /* you can use % */
    height: auto;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#ourfloatingimage {
    padding-top: 50px;
    width:100px; /* you can use % */
    height: auto;
    float: right;
}

#flatButton {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #C8B21C;
    padding: 8px 16px;
    margin: 8px 12px 8px 0px;
}

#flatButton:hover {
    background-color: #111;
}